# Laravel

/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/*.log
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*

# Env

.env
.env.backup
.env.production

# PHPUnit

/.phpunit.cache
.phpunit.result.cache

# Logs

npm-debug.log
yarn-error.log

# IDE

/.fleet
/.idea
/.vscode

# Misc

.DS_Store
Thumbs.db
.cache
*.stackdump

# Dokumen pribadi / skripsi (jangan di-publish)
/File
